@import "~$commons/variables";
.menu {
    position: relative;
    &__title {
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            background-color: $bg-color1;
        }
    }
    &__popup-list {
        padding: 0;
        margin: 0;
        position: absolute;
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0,0,0,0.2);
        transform: translate(-1.25rem, 0);
        opacity: 0;
        transition: 0.2s;
        visibility: hidden;
        &_active {
            opacity: 1;
            transform: translate(-1.25rem, 0.5rem);
            visibility: visible;
        }
        z-index: 100;
    }
    &__item {
        list-style-type: none;
    }
}
