@import "~$commons/variables";

.section {
    padding: 0 1rem;
    width: 66.66%;
    &__title {
        font-family: Oswald;
        font-weight: 400;
        font-size: 48px;
        border-bottom: 4px solid $bg-color2;
    }
}
